{% extends "template.twig" %}

{% block links %}
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="{{ baseUrl }}assets/css/fonts.css">
    <link rel="stylesheet" href="{{ baseUrl }}assets/css/icons.css">
    <link rel="stylesheet" href="{{ baseUrl }}assets/css/home.css">
{% endblock %}

{% block content %}
    <header class="top">
        <div class="xp-bar">
            <div class="progress"></div>
        </div>

        <div class="info">
            <div class="money">
                <span id="dollars"></span>
                <span id="tenge"></span>
            </div>

            <div class="user">
                <p class="pseudo">{{ session.getPseudo() }}</p>
                <p class="lvl">lvl {{ session.getLvl() }}</p>
            </div>

            <div class="options">
                <i class="far fa-question-circle"></i>
                <a href="Users/logout"><i class="fas fa-power-off"></i></a>
            </div>
        </div>
    </header>

    <div id="content">
        {% include 'chat.twig' %}
        {% include 'characteristics.twig' %}
        {% include 'inventory.twig' %}
        {% include 'arena.twig' %}
        {% include 'adventures.twig' %}
        {% include'admin/adventures.twig' %}
        {% include'admin/stuff.twig' %}
        {% include'admin/users.twig' %}
    </div>

    <footer class="menu">
        <div class="invisible"></div>

        <nav class="user-menu">
            <div id="chat" class="item open"><i class="fas fa-comment-alt"></i></div>
            <div id="characteristics" class="item"><i class="fas fa-dna"></i></div>
            <div id="adventures" class="item"><i class="fas fa-map-signs"></i></div>
            <div id="arena" class="item"><i class="icon-swords"></i></div>
            <div id="inventory" class="item"><i class="icon-treasure"></i></div>
        </nav>

        {% if session.getRole() == "admin" %}
            <div id="admin-menu">
                <div id="admin-users" class="item"><i class="fas fa-users"></i></div>
                <div id="admin-stuff" class="item"><i class="icon-swords"></i></div>
                <div id="admin-adventures" class="item"><i class="fas fa-map-signs"></i></div>
            </div>

            <div id="open-admin-menu-btn" class="item"><i class="fas fa-crown"></i></div>
        {% endif %}
    </footer>
{% endblock %}

{% block scripts %}
    <script>const baseUrl = '{{ baseUrl }}';</script>
    <script src="{{ baseUrl }}assets/js/create.js"></script>
    <script src="{{ baseUrl }}assets/js/toHHMMSS.js"></script>
    <script src="{{ baseUrl }}assets/js/Modal.js"></script>
    <script src="{{ baseUrl }}assets/js/WindowRPG.js"></script>
    <script src="{{ baseUrl }}assets/js/toggleWindow.js"></script>
    <script src="{{ baseUrl }}assets/js/Adventures.js"></script>
    <script src="{{ baseUrl }}assets/js/Inventory.js"></script>
    <script src="{{ baseUrl }}assets/js/User.js"></script>
    <script src="{{ baseUrl }}assets/js/Chat.js"></script>
    <script src="{{ baseUrl }}assets/js/Arena.js"></script>
    {% if session.getRole() == "admin" %}
        <script src="{{ baseUrl }}assets/js/UsersAdmin.js"></script>
        <script src="{{ baseUrl }}assets/js/StuffAdmin.js"></script>
        <script src="{{ baseUrl }}assets/js/admin.js"></script>
    {% endif %}
    <script src="{{ baseUrl }}assets/js/main.js"></script>
{% endblock %}
