{% extends "template.twig" %}

{% block links %}
    <link rel="stylesheet" href="assets/css/fonts.css">
    <link rel="stylesheet" href="assets/css/icons.css">
    <link rel="stylesheet" href="assets/css/home.css">
{% endblock %}

{% block content %}
    <div class="xp-bar">
        <div class="progress" style="width: {{ session.getXpPercentage() }}%"></div>
    </div>

    <header>
        <div class="money">
            <span><i class="fas fa-dollar-sign"></i> {{ session.getDollar() }}</span>
            <span><i class="fas fa-tenge"></i> {{ session.getT() }}</span>
        </div>
        <div class="user">
            <p class="pseudo">{{ session.getPseudo() }}</p>
            <p class="lvl">lvl {{ session.getLvl() }}</p>
        </div>
        <div class="options">
            <i class="far fa-question-circle"></i>
            <a href="index.php?action=users.logout"><i class="fas fa-power-off"></i></a>
        </div>
    </header>

    <div class="content">
        {% include 'chat.twig' %}
    </div>

    {#<footer class="menu">#}
        {#<i id="chat" class="item fas fa-comment-alt"></i>#}
        {#<i class="item fas fa-dna"></i>#}
        {#<i class="item fas fa-map-signs"></i>#}
        {#<i class="item icon-swords"></i>#}
        {#<i class="item icon-treasure"></i>#}
        {#<i class="item fab fa-fort-awesome"></i>#}
        {# <i class="fas fa-crown"></i> #}{# #}{# if the user is an admin #}
    {#</footer>#}
{% endblock %}

{% block scripts %}
    <script src="assets/js/toggleWindow.js"></script>
    <script src="assets/js/Chat.js"></script>
    <script src="assets/js/main.js"></script>
{% endblock %}
